@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Impact";
    src: url(./assets/fonts/impact.ttf) format("truetype");
}

@font-face {
    font-family: "Comic Sans";
    src: url(./assets/fonts/comic-sans.ttf) format("truetype");
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 4px;
    border: 2px solid #424242;
}