NODE_ENV=

# Must match the directory name on the server
APP_NAME=

# For development
HOST=

PORT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

SALT_ROUNDS=

JWT_SECRET=

# For deployment
SSH_HOST=
SSH_USERNAME=
SSH_PRIVATE_KEY=